/* == General Elements ==================================== */
table,
th,
td {
  color: #eee;
  white-space: nowrap;
  font-family: Sans-Serif;
  text-align: auto;
  padding: 0px;
  margin: 0px;
  top: 0;
}

table,
th,
td,
select,
.compact {
  font-size: 12px;
}

th,
td {
  padding-bottom: 2px;
  padding-right: 1px;
  margin-right: 2px;
  padding-left: 2px;
}

input[type="checkbox"] {
  appearance: checkbox !important;
  margin: 0;
  margin-right: 1px;
  vertical-align: middle;
  position: relative;
  top: 0px;
}

/* input[type="checkbox"]:checked {
  appearance: checkbox !important;
} */

select {
  appearance: none;
  border-radius: 6px;
  text-indent: 0.2px;
  text-overflow: "";
  padding: 2px;
  padding-right: 3px;
  background-color: darkgreen;
  color: #ff0;
  cursor: pointer;
}
select:focus {
  outline: none;
}

select:hover {
  border-color: #fff;
}

select:disabled {
  border: 1px solid #333;
  background-color: #000;
  color: #aaa;
  outline: none;
}

select option {
  margin: 40px;
  background: #000;
  color: #eee;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  appearance: none;
  border-radius: 8px;
  text-indent: 0.2px;
  text-overflow: "";
  text-align: left;
  padding: 5px;
}

select option:focus {
  color: #f00;
}

option:disabled {
  color: #666;
}

/* == Layout ============================================== */

body.roster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0;

  background-color: black;
  white-space: nowrap;

  overflow: auto;
}

#MainCallRoster {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

#MainCallRoster header {
  flex: 0;
}

#MainCallRoster main {
  flex: 1;
}

#RosterControls {
  display: grid;
}

#RosterControls.hidden {
  display: none;
}

#RosterControls.normal #SecondaryRosterControls {
  display: none;
}

#RosterControls.normal {
  min-height: 28px;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

#RosterControls.normal #MainRosterControls {
  margin-left: 160px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#TransmitControls {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 160px;
  display: flex;
  flex-direction: row;
}

#MoreLessControls {
  position: absolute;
  top: 7px;
  right: 6px;
  text-align: right;
}

#RosterControls.normal #ShowFewerControlsLink {
  display: none;
}
#RosterControls.normal #ShowMoreControlsLink {
  display: block;
}

#RosterControls.normal #MainRosterControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#RosterControls.extended {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#RosterControls.extended #MainRosterControls {
  margin-top: 30px;
  min-width: 210px;
  flex: 0;
}

#RosterControls.extended #SecondaryRosterControls {
  flex: 1;
}

#MainRosterControls label {
  margin-right: 4px;
  margin-left: 8px;
}

#RosterControls.extended #MainRosterControls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

#RosterControls.extended #MainRosterControls > div {
  margin-bottom: 4px;
}

#RosterControls.extended #MainRosterControls select {
  min-width: 140px;
}

#RosterControls.extended #HuntModeControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#AwardWantedList {
  overflow: auto;
  overflow-x: hidden;
  max-height: 142px;
}

@media (max-width: 1050px) {
  #RosterControls.normal #HuntModeControls {
    display: none !important;
  }
}

@media (max-width: 735px) {
  #RosterControls.normal #CallsignsControls {
    display: none;
  }
}

@media (max-width: 600px) {
  #RosterControls.normal #LogbookControls {
    display: none;
  }
}

#RosterControls.normal #AwardTrackerControls {
  display: none !important;
}

#RosterControls.extended #AwardTrackerControls {
  margin-left: 8px;
  width: 100%;
}

#awardTable {
  width: 100%;
}

#RosterControls.extended #ShowFewerControlsLink {
  display: block;
}
#RosterControls.extended #ShowMoreControlsLink {
  display: none;
}
#RosterControls.extended #SecondaryRosterControls {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 8px;
  margin-bottom: 4px;
}

@media (max-width: 650px) {
  #RosterControls.extended #SecondaryRosterControls {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 735px) {
  #RosterControls.extended {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  #RosterControls.extended #MainRosterControls {
    align-self: flex-start;
  }

  #RosterControls.extended #SecondaryRosterControls {
    width: 100%;
  }
}

.secondaryControlGroup {
  flex: 1;
  margin-left: 8px;
  padding: 0px;
}

#huntingMatrixDiv {
  flex: 0.75;
}

#exceptionDiv {
  flex: 1.25;
}

.secondaryControlGroup h3 {
  text-align: left;
  font-size: 12px;
  margin: 0px;
  margin-bottom: 2px;
  padding: 0;
}

#huntingMatrixDiv h3 {
  color: #099;
  border-bottom: 2px solid #066;
  margin-bottom: 2px;
}

#exceptionDiv h3 {
  color: #944;
  border-bottom: 2px solid #622;
  margin-bottom: 2px;
}

.secondaryControlGroup .columns {
  /* column-count: 2; */
  max-height: 135px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

@media (min-width: 1100px) {
  .secondaryControlGroup .columns {
    max-height: 80px;
  }
}

.secondaryControlGroup .columns > div {
  text-align: left;
  margin-bottom: 2px;
}

.secondaryControlGroup input.slider {
  display: inline-block;
  width: 75px;
}

.secondaryControlGroup input.inputTextValue {
  background-color: green;
  color: yellow;
  padding: 2px;
}

.secondaryControlGroup .roundBorderValue {
  padding: 2px;
}


#instancesWrapper .button {
  display: inline-block;
  margin: 1px;
  padding: 2px;
  border-width: 1px;
  text-align: left;
}

#RosterTable > table {
  width: 100%;
}
/* == Other Elements ====================================== */

#txrxdec {
  width: 100px;
}

.link {
  cursor: hand;
  color: #ffffaa;
}

.link:hover {
  color: #ffff00;
  text-decoration: underline;
}

table.awardTableCSS {
  border-collapse: collapse;
  border: 0px solid #888;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

table.awardTableCSS td, 
table.awardTableCSS th {
  border: 1px solid #888;
  padding: 0px;
  margin: 0px;
  border-left: none;
  border-right: none;
  font-size: 12px;
}

table.awardTableCSS tr {
  padding: 0px;
  margin: 0px;
  max-height: 16px;
  bottom: 0;
}

table.awardTableCSS thead {
  border-bottom: 0px solid #888;
}
table.awardTableCSS thead th {
  font-weight: bold;
  text-align: center;
  border-left: none;
}
table.awardTableCSS thead th:first-child {
  border-left: none;
}

.awardTableCSS tr:hover td {
  box-shadow: inset 0px 11px 6px -8px #888, inset 0px -11px 6px -8px #888;
}

table.rosterTable {
  border-collapse: collapse;
  border: 1px solid #555;
  background-color: black;
  text-align: center;
  width: 100%;
}

table.rosterTable td,
table.rosterTable th {
  border: 1px solid #555;
  padding: 2px;
  padding-bottom: 1px;
}

table.rosterTable thead {
  border-bottom: 1px solid #555;
}
table.rosterTable thead th {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid #555;
  top: -1px;
  position: sticky;
  background-color: #000000ff;
}

table.rosterTable thead th:first-child {
  border-left: none;
}

.rosterTable tr:hover td {
  box-shadow: inset 0px 11px 6px -8px #555, inset 0px -11px 6px -8px #555;
}

.oneByOne {
  background-clip: content-box;
  box-shadow: 0 0 8px 3px inset #fff;
  background-color: #000;
  color: #ff0;
}

.regexMatch {
  text-decoration: underline;
}

.dxCaller {
  background-clip: content-box;
  box-shadow: 0 0 4px 4px inset #0f0;
  background-color: #000;
  color: #ff0;
}

.dxCalling {
  background-clip: content-box;
  box-shadow: 0 0 4px 4px inset #f00;
  background-color: #000;
  color: #ff0;
}

.compact {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-width: 2px;
  border-color: #999;
  border-style: outset;
  min-width: 9em;
  min-height: 2em;
  display: inline-block;
  color: #eee;
  transition: border-style;
  border-radius: 4px;
}

.compact:active {
  border-style: inset;
}

.compact:hover {
  border-color: #fff;
}

.compactCallsign {
  padding: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.compactData {
  padding: 2px;
  max-width: 9em;
  min-width: 9em;
  max-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rosterTable tr:hover td {
  box-shadow: inset 0px 11px 6px -8px #888, inset 0px -11px 6px -8px #888;
}

.acknowledged {
  float: right;
  font-size: 70%;
  padding-left: 3px;
  padding-right: 3px;
}

.ackBadge {
  padding: 0px;
  margin: 0px;
  height: 12px;
  margin-bottom: -2px;
}

.wantedCol {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
